<form style="background: white;">
    <div class="container BvMHM EzUlV text-center"
        style="padding: 2em;color: rgb(21, 17, 17);background-color: #b3b3b3">
        <h3>Tabla de pokemons</h3>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">imagen</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr *ngFor="let list of pokemons">

                                <!-- <th>Folio: {{list.folio}}</th> -->

                                <th>{{list.name}}</th>
                                <th>
                                    <!-- <td mat-cell *matCellDef="let element"> -->
                                        <img src="{{list.url}}" alt="pokemon" width="200" height="200">
                                    
                                    <!-- {{list.url}} -->
                                    <!-- <img src="{{list.url}}" alt="pokemon" width="100" height="100"> -->

                                </th>

                            </tr>
                        </tbody>

                    </table>

               
                 
                  

                </div>
            </div>
        </div>
    </div>
    <br>
    <div align="end">
        <button mat-raised-button color="primary" (click)="listarSiguientes()">Siguiente Pagina</button>
    </div>
</form>
<br>
<br>

